@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
}

.header {
  padding: 1%;
}

.logo {
  margin-left: 10%;
}

.carrinho {
  justify-content: flex-end;
}

.side {
  margin-left: 10%;
}

.main {
  flex: 80%;
  padding: 1px;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.footer {
  padding: 5px;
  text-align: center;
  background: black;
  color: white;
}

.carregarmais {
  cursor: pointer;
  padding: 1%;
  text-align: center;
  background-color: #1ABC9C;
  color: white;
  margin-bottom: 4%;
  width: 19%;
  align-items: center;
  margin-left: 46%;
}

.carregarmais:hover {
  background-color: #1DD7B2;
}